* {
    margin: 0;
    padding: 0;
    }

a:active, 
a {
  text-decoration: none;
  color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

body {
    background: #242424;
}

.wrapper {
    width: 1400px;
    margin: auto;
    color: white;
    font-family: sans-serif;
    position: relative;
}

header {
    background: url('../img/1.jpg');
    width: 1400px;
    height: 960px;
    margin: auto;
    color: white;
    font-family: sans-serif;
    position: relative;
}

.navLogo {
    background: #ffba00;
    width: 350px;
    height: 80px;
    display: inline-block;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

.navLogo>p {
    margin-left: 130px;
    margin-top: 10px;
}

.navList {
    height: 80px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 200px;
}

.navList>li {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 80px;
}

.grandOpening {
    background: #ffba00;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 360px;
    font-size: 90px;
}

.grandOpening>h1 {
    font-size: 100px;
    text-shadow:  1px 1px 0px white;
    margin-left: 170px;
    margin-top: 20px;
    line-height: 120px;

} /* make font */

.opening {
    text-shadow: none;
    font-size: 90px;
}

.readMore {
    width: 330px;
    height: 80px;
    background: #ffba00;
    border: 4px solid white;
    font-weight: bold;
    position: absolute;
    right: 290px;
    top: 150px;
}

.readMore>p {
    font-size: 30px;
    margin-top: 27px;
    margin-left: 100px;
}

.new {
    width: 100%;
    height: 600px;
    position: relative;
}

.imgBackNewFormat {
    background-image: url('../img/2.jpg');
    background-size: 100%;
    position: absolute;
    width: 620px;
    height: 440px;
    right: 0px;
    top: 80px;
}

.whatMenuBlock {
    background: #ffba00;
    width: 840px;
    height: 190px;
    position: absolute;
    top: 215px;
    left: 130px;
    font-size: 30px;
    font-weight: bold;
}

.whatNew {
    margin-top: -70px;
    margin-left: 150px;
}

.whatNew>li {
    list-style-type: none;
    margin-bottom: 55px;
}

.newFormat {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 30px;
    top: 120px;
    left: 170px;
    height: 350px;
    z-index: 1;
    letter-spacing: 18px;
}

.whiteBlock {
    width: 100%;
    height: 375px;
    background: #ffffff;
}

.wrapperWhiteB {
    width: 1100px;
    margin: auto;
    color: black;
}

.whiteB {
    height: 130px;
    width: 275px;
    display: inline-block;
    margin-top: 125px;
    margin-right: 125px;
    color: black;
}

.whiteB>p {
    margin-top: 40px;
    font-size: 18px;
}

.whiteB>h2 {
    color: #ffba00;
    font-size: 25px;
}

.h2Side {
    font-size: 30px;
}

.whiteB3 {
    margin: 0px;
}


.pizzeria {
    width: 100%;
    height: 1150px;
    position: relative;
    background: url('../img/3.jpg');
    background-size: 100%;
}

.logoPizzeria {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color:#ffba00;
}

.ourMenu {
    width: 1180px;
    height: 130px;
    position: absolute;
    right: 0px;
    top: 160px;
    border: 3px solid white;
    color:#ffba00;
    font-size: 35px;
}

.ourMenu>p {
    margin-left: 270px;
    margin-top: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

.menuList {
    width: 1040px;
    height: 415px;
    background:#ffba00;
    position: absolute;
    right: 0px;
    top: 280px;
    margin-top: 80px;
}

.menuListName>li {
    font-size: 25px;
    list-style: none;
}

.menuListDiv {
    width: 600px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 65px;

}

.priceList {
    display: inline-block;
    margin-top: 65px;
    padding-top: 15px;
    margin-left: 80px;
}

.yellowBlock {
    width: 70px;
    height: 440px;
    background: yellow;
    opacity: 0.5;
    position: absolute;
    top: 430px;
    right: 235px;
}

.menuIcons {
    width: 930px;
    height: 150px;
    border: 3px solid white;
    position: absolute;
    bottom: 50px;
    right: 235px;
}

.menuIconsList {
    margin-top: 20px;
    margin-left: 250px;
}

.menuIconsList>li {
    list-style: none;
    font-size: 25px;
    margin-bottom: 10px;
}

.aboutConcept {
    width: 100%;
    height: 400px;
}

.aboutConcept>h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 120px;
    color: #ffba00;
}

.h2Concept {
    font-weight: bold;
}

.aboutConcept>p {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}


.ulAboutContainer{
    margin: auto;
    width: 550px;
    margin-top: 40px;
}

.aboutConceptList>li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}

.aboutConceptList>li:last-child {
    margin: 0px;
}

.masterClass {
    width: 100%;
    height: 1200px;
    background: url('../img/4.jpg');
    position: relative;
}

.masterClass>h2 {
    text-align: right;
    margin-right: 120px;
    padding-top: 100px;
}

.masterClassBlock {
    width: 540px;
    height: 620px;
    background:#ffba00;
    float: right;
    margin-right: 120px;
    margin-top: 100px;
}

.masterClassBlock>h3 {
    margin-top: 100px;
    margin-left: 65px;
    font-size: 40px;
    letter-spacing: 2px;
}

.masterClassBlock>p {
    margin-top: 50px;
    margin-left: 65px;
    font-size: 25px;
    letter-spacing: 2px;
}

.applyMasterClass {
    width: 460px;
    height: 120px;
    background:#ffba00;
    position: absolute;
    right: 120px;
    bottom: 200px;
}

.priceTime {
    margin-top: 120px;
    float: right;
    margin-right: 60px;
    font-size: 25px;
}

.priceTime>p {
    margin-top: 10px;
}

.applyMasterClass {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.applyMasterClass>p {
    margin-left: 30px;
    margin-top: 60px;
}

.galleryBlock {
    height: 220px;
    width: 100%;
    position: relative;
}

.galleryBlock>h2 {
    color:#ffba00;
    text-align: center;
    padding-top: 140px;
}

.orangeLane {
    position: absolute;
    width: 250px;
    height: 100%;
    left: 300px;
    background:#ffba00;
}

.galleryPhoto>img {
    margin: 0px;
    padding: 0px;
}

.pizzeriaContact {
    width: 100%;
    height: 550px;
    position: relative;
}

.pizzeriaContact>h2 {
    text-align: center;
    padding-top: 80px;
    color:#ffffff;
}

.commentary {
    width: 350px;
    height: 280px;
    position: absolute;
    top: 180px;
    left: 370px;
    font-size: 25px;
    line-height: 40px;
}

.contactIconsPizzeria {
    width: 350px;
    height: 280px;
    position: absolute;
    top: 180px;
    left: 850px;
    font-size: 25px;
}

.contactIconsPizzeria>img {
    margin-top: 20px;
    margin-right: 15px;
}

.contactIconsPizzeria>a {
    color: #ffba00;
}

.pName {
    text-align: right;
}

.askHere {
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: 320px;
    background: #483500;
}