* {
    margin: 0;
    padding: 0;
    }

a:active, 
a {
  text-decoration: none;
  color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

body {
    background: #242424;
}

.wrapper {
    width: 1400px;
    height: 960px;
    margin: auto;
    color: white;
    font-family: sans-serif;
    position: relative;
}

.navLogo {
    background: #ffba00;
    width: 350px;
    height: 80px;
    display: inline-block;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

.navLogo>p {
    margin-left: 130px;
    margin-top: 10px;
}

.navList {
    height: 80px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 200px;
}

.navList>li {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 80px;
}

.grandOpening {
    background: #ffba00;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 360px;
    font-size: 90px;
}

.grandOpening>h1 {
    font-size: 100px;
    text-shadow:  1px 1px 0px white;
    margin-left: 170px;
    margin-top: 20px;
    line-height: 120px;

} /* make font */

.opening {
    text-shadow: none;
    font-size: 90px;
}